.header {
    text-align: center;
    font-size: 300%;
}
.smaller-header {
    text-align: center;
    margin-top: -1em;
}
#categories-div:not(.header), #categories-div:not(.smaller-header) {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3em;
    padding-bottom: 3em;
}
.nonbold {
    font-weight: normal;
}
.category {
    border-bottom: 0.1em solid rgb(177, 177, 177);
    font-size: 200%;
    padding-bottom: 1em;
}
.gray {
    padding-top: 1em;
    background-color: #e7e7e7;
}
.complaint-icon {
    max-height: 1.5em;
}
