.header {
    text-align: center;
    font-size: 300%;
}
.smaller-header {
    text-align: center;
    margin-top: -1em;
}
#categories-div {
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#categories-div > h1 {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-size: 150%;
    background-color: #3ddd85;
}

.nonbold {
    font-weight: normal;
}
.category {
    border-bottom: 0.025em solid rgb(177, 177, 177);
    font-size: 125%;
    padding-bottom: 0.75em;
    padding-left: 1em;
}
.gray {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f8f8f8;
}
.complaint-icon {
    max-height: 1.25em;
    padding-right: 1em;
}


#flex-container {
    display: flex;
    background-color: #595c68;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.flex-child {
    flex: 1;
}
.score-image {
    margin-top: 6em;
    margin-bottom: 6em;
}

#car-img {
    min-width: 65%;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#score-meter {
    margin-left: auto;
    margin-right: auto;
    display: block;   
}

.left-child {
    margin-left: 3%;
}
.right-child {
    text-align: center;
    padding-top: 2%;
    margin-right: 5%;
}
#car-model {
    font-size: 250%;
    font-weight: normal;
}
#carflow-score {
    font-size: 200%;
    font-weight: normal;
}

#searchbar-div {
    margin: auto;
    padding-top: 2%;
    background-color: red;
    width: 50%;
    height: 6em;
}

#search-results {
    background-color: white;
    list-style-type: none;
    position: absolute;
    display: none;
}

#logo {
    padding-top: 2.5%;
    padding-left: 1.5%;
    max-width: 20%;
    float: left;
}