.CircularProgressbar-path {
    stroke: red;
  }
  .CircularProgressbar-trail {
    stroke: gray;
  }
  .CircularProgressbar-text {
    fill: yellow;
    text-align: center;
  }
  .CircularProgressbar-background {
    fill: green;
  }